.bg-container {
  background-color: #ffffff;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-heading {
  font-family: 'Roboto';
  color: #ea580c;
  font-weight: bold;
}

.form-el {
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

.first-name {
  width: 70%;
  font-family: 'Roboto';
  color: #475569;
  font-weight: 500;
  margin-top: 15px;
}

.first-name-input {
  width: 70%;
  height: 30px;
  font-family: 'Roboto';
  color: #9aa5b1;
  font-weight: 400;
  border: 1px solid #cbd2d9;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}

.required {
  width: 70%;
  font-family: 'Roboto';
  color: #ff0b37;
  font-weight: 400;
  margin: 0px;
}

.last-name {
  width: 70%;
  font-family: 'Roboto';
  color: #475569;
  font-weight: 500;
  margin-top: 15px;
}

.last-name-input {
  width: 70%;
  height: 30px;
  font-family: 'Roboto';
  color: #9aa5b1;
  font-weight: 400;
  border: 1px solid #cbd2d9;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}

.blurred {
  background-color: #fef2f4;
  border: 1px solid #ff0b37;
}

.success-icon {
  width: 12%;
  height: 22%;
}

.success-para {
  font-family: 'Roboto';
  color: #475569;
  font-weight: 500;
}

.button-card {
  width: 20%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.button {
  width: 100%;
  height: 30px;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
  background-color: #ea580c;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .registration-heading {
    font-size: 35px;
  }

  .form-el {
    width: 80%;
  }

  .first-name {
    font-size: 14px;
  }

  .first-name-input {
    font-size: 14px;
  }

  .required {
    font-size: 12px;
  }

  .last-name {
    font-size: 14px;
  }

  .last-name-input {
    font-size: 14px;
  }

  .success-icon {
    width: 25%;
    height: 25%;
  }

  .success-para {
    font-size: 20px;
  }

  .button-card {
    width: 70%;
  }
  .button {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .registration-heading {
    font-size: 45px;
  }

  .first-name {
    font-size: 15px;
  }

  .first-name-input {
    font-size: 15px;
  }

  .required {
    font-size: 12px;
  }

  .last-name {
    font-size: 15px;
  }

  .last-name-input {
    font-size: 15px;
  }

  .success-para {
    font-size: 25px;
  }

  .add-response {
    width: 70%;
  }
  .button {
    font-size: 15px;
  }
}
